<section class="content item-container container"
         infinite-scroll='postCtrl.loadMore()' infinite-scroll-distance='2'
         infinite-scroll-disabled='postCtrl.dataLoading'>

    <article ng-repeat="post in postCtrl.posts" class="article">
        <!-- TODO: Darle vida al header -->
        <!--
        <header>
            <a href="#">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><line fill="none" stroke-width="4" stroke-miterlimit="10" x1="9" y1="25" x2="41" y2="25"></line><line fill="none" stroke-width="4" stroke-miterlimit="10" x1="25" y1="9" x2="25" y2="41"></line></svg>
                <span>Save</span>
            </a>
            <a href="#">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><path fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M33.637,10c-3.606,0-6.78,1.832-8.637,4.605C23.144,11.832,19.97,10,16.364,10C10.641,10,6,14.606,6,20.286c0,12,13.817,18.427,19,22.714c5.183-4.287,19-10.714,19-22.714C44,14.606,39.359,10,33.637,10z"></path></svg>
                <span>Like</span>
            </a>
        </header>
        -->
        <figure>
            <img ng-src="{{ post.media }}">
            <footer>
                <figcaption ng-show="post.caption != 'undefined'">{{ post.caption }}</figcaption>
                <small>By <a ng-href="#!profile/{{ post.owner }}">{{ post.owner }}</a></small>
            </footer>
        </figure>
    </article>
    <div ng-show='postCtrl.dataLoading' class="loading">Loading data...</div>

</section>

<footer class="section-footer">
    <a ng-show="globals.username" href="#!upload/{{ postCtrl.article_pk }}" class="uploader">
        <i class="material-icons">add_a_photo</i>
    </a>
</footer>