<section class="content upload container">
    <header>
        <div class="download-logo">
            <div class="cloud">
                <div class="file"></div>
            </div>
        </div>
    </header>
    <!--<div ng-show="errors.length" class="error"><p ng-repeat="err in errors">{{ err }}</p></div>-->
    <form name="form" ng-submit="uploadCtrl.upload()" role="form">
        <label id="holder" class="file-input" ondragover="return false">
            <i class="material-icons">file_upload</i>
            <span>Drop a file or click to select one</span>
            <img src="" id="file-preview">
            <input files-input ng-model="fileArray" id="file" type="file">
            <span class="loader"></span>
        </label>
        <div class="multi-field">
            <input ng-model="caption" type="text" name="caption" id="caption" placeholder="Some text?">
        </div>
        <input ng-disabled="busy" class="actionButton" type="submit" value="Upload">
    </form>
</section>

<script>
    (function () {
        'use strict';

        var holder = document.getElementById('holder');
        var label = holder.getElementsByTagName('span')[0];
        var input = document.getElementById('file');
        var file_preview = document.getElementById('file-preview');

        /**
         * Al pasar un elemento por encima
         */
        holder.ondragover = function () {
            this.classList.add('hover');
            return false;
        };

        /**
         * Al dejar de pasar un elemento por encima
         */
        holder.ondragend = function () {
            this.classList.remove('hover');
            return false;
        };

        /**
         * Al soltar un elemento encima
         */
        holder.ondrop = function (e) {
            e.preventDefault();
            readfile(e.dataTransfer.files[0]);
        };

        /**
         * Al cambiar el estado del input
         */
        input.onchange = function () {
            readfile(this.files[0]);
        };


        /**
         * Previsualización del fichero
         */
        function readfile(file) {
            // Comprobar que sea el tipo correcto
            if (!file.type.match(/image-*/)) {
                label.innerText = 'Sorry, invalid format.';
                holder.classList.add('error');
                return;
            } else {
                holder.classList.remove('error');
                holder.classList.add('succes');
            }


            if (file) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    file_preview.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }

    })();
</script>