/* Default view */
.view {
  position: absolute;
  top: 0;
  width: 100%;
  transition: 600ms;
}

/* First animation*/
.first {
  .view.ng-enter {
    left: -100%;

    &.ng-enter-active {
      left: 0%;
    }
  }

  .ng-leave {
    left: 0%;

    &.ng-leave-active {
      left: 100%;
    }
  }
}

/* Second animation*/
.second {
  .view.ng-enter {
    left: 100%;

    &.ng-enter-active {
      left: 0%;
    }
  }

  .view.ng-leave {
    left: 0%;

    &.ng-leave-active {
      left: -100%;
    }
  }
}

/* Third animation*/
.third {
  .view.ng-enter {
    top: 100%;

    &.ng-enter-active {
      top: 0%;
    }
  }

  .view.ng-leave {
    top: 0%;

    &.ng-leave-active {
      top: -100%;
    }
  }
}

/* Deefault animation*/
.welcome .view.ng-enter {
  opacity: 0;
}

/* Disable animations */
.no-animate {
  transition: none !important;
}

/* Default */
.ng-enter {
  opacity: 0;

  &.ng-enter-active {
    opacity: 1;
  }
}

.ng-leave {
  opacity: 1;

  &.ng-leave-active {
    opacity: 0;
  }
}