@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?1ltf3l');
  src: url('fonts/icomoon.eot?1ltf3l#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?1ltf3l') format('truetype'),
  url('fonts/icomoon.woff?1ltf3l') format('woff'),
  url('fonts/icomoon.svg?1ltf3l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-dribbble:before {
  content: "\eaa7";
}

.icon-pinterest:before {
  content: "\ead1";
}
