@mixin link-text() {
  display: block;
  color: #404040;
  font-weight: 500;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  &:hover {
    color: #008ed3;
  }
}

@mixin hexagon-logo($scale) {
  $color-bg: #FFF;
  $color-hexagon: #008ed3;
  $color-circle: #404040;
  $font-header: 'Fredoka One', sans-serif;

  // Hexagon dimensions
  $hex-width: 80px * $scale;
  $hex-height: 46.19px * $scale;
  $hex-border-TB: 23.09px * $scale;
  $hex-border-LR: 40px * $scale;

  // Circle dimensions
  $circle-size: 24px * $scale;
  position: relative;

  .hexagon {
    position: relative;
    width: $hex-width;
    height: $hex-height;
    margin: auto;
    background-color: $color-hexagon;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: $hex-border-LR solid transparent;
      border-right: $hex-border-LR solid transparent;
    }
    &:before {
      bottom: 100%;
      border-bottom: $hex-border-TB solid $color-hexagon;
    }
    &:after {
      top: 100%;
      width: 0;
      border-top: $hex-border-TB solid $color-hexagon;
    }

    .circle {
      position: absolute;
      bottom: -$circle-size/2;
      right: -$circle-size/2;
      margin: auto;
      width: $circle-size;
      height: $circle-size;
      background-color: $color-circle;
      border-radius: 100%;
      z-index: 3;
      box-shadow: $color-bg 0 0 0 4px;
    }
  }

  h1 {
    color: #404040;
    font-family: $font-header;
    font-size: 36px * $scale;
    text-align: center;
    margin: 30px 0 60px;

    span {
      color: #008ed3;
    }
  }
}

@mixin download-logo($scale) {
  transform: scale($scale);
  width: 300px;
  height: 300px;
  text-align: center;
  overflow: hidden;
  background-color: #008ed3;
  border-radius: 100%;
  box-shadow: 0 5px 10px #bbb;
  display: inline-block;

  .cloud {
    width: 200px;
    height: 80px;
    position: relative;
    background: #fff;
    display: inline-block;
    border-radius: 50px;
    margin: 120px auto 0;
    box-shadow: 0 0 #008ed3;

    &:before {
      content: '';
      position: absolute;
      background: #636262;
      border-radius: 10px;
      width: 90px;
      height: 6px;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 25px;
      margin: auto;
    }

    &:after {
      content: '';
      position: absolute;
      width: 120px;
      height: 80px;
      border-radius: 80px 80px 0 0;
      top: -40px;
      background: #fff;
      left: 40px;
    }

    .file {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 5;
      top: 50px;
      width: 80px;
      height: 100px;
      display: inline-block;
      overflow: hidden;

      &:before {
        content: '';
        background: #E2E3E3;
        color: #E2E3E3;
        width: 60px;
        height: 5px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        z-index: 3;
        margin: auto;
        animation: uplaod 3s linear infinite;
        box-shadow: 0 15px, 0 30px;
      }

      &:after {
        content: '';
        position: absolute;
        background: #577FC0;
        width: 80px;
        height: 80px;
        left: 0;
        top: 0;
        border-radius: 0 0 10px 10px;
        animation: uplaod 3s linear infinite;
      }
    }
  }

  @keyframes uplaod {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
}