/**
 Copyright 2017 Jonathan Millan.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 **/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button:focus, input:focus {
  outline: none; }

/* Default view */
.view {
  position: absolute;
  top: 0;
  width: 100%;
  transition: 600ms; }

/* First animation*/
.first .view.ng-enter {
  left: -100%; }
  .first .view.ng-enter.ng-enter-active {
    left: 0%; }
.first .ng-leave {
  left: 0%; }
  .first .ng-leave.ng-leave-active {
    left: 100%; }

/* Second animation*/
.second .view.ng-enter {
  left: 100%; }
  .second .view.ng-enter.ng-enter-active {
    left: 0%; }
.second .view.ng-leave {
  left: 0%; }
  .second .view.ng-leave.ng-leave-active {
    left: -100%; }

/* Third animation*/
.third .view.ng-enter {
  top: 100%; }
  .third .view.ng-enter.ng-enter-active {
    top: 0%; }
.third .view.ng-leave {
  top: 0%; }
  .third .view.ng-leave.ng-leave-active {
    top: -100%; }

/* Deefault animation*/
.welcome .view.ng-enter {
  opacity: 0; }

/* Disable animations */
.no-animate {
  transition: none !important; }

/* Default */
.ng-enter {
  opacity: 0; }
  .ng-enter.ng-enter-active {
    opacity: 1; }

.ng-leave {
  opacity: 1; }
  .ng-leave.ng-leave-active {
    opacity: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?1ltf3l");
  src: url("fonts/icomoon.eot?1ltf3l#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?1ltf3l") format("truetype"), url("fonts/icomoon.woff?1ltf3l") format("woff"), url("fonts/icomoon.svg?1ltf3l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-dribbble:before {
  content: "\eaa7"; }

.icon-pinterest:before {
  content: "\ead1"; }

@font-face {
  font-family: 'Calluna';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff") format("woff"); }
body {
  background: url(../images/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: -0.025em;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

#wrapper {
  overflow-x: hidden; }
  #wrapper nav#menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 0;
    height: 100%;
    color: #fff;
    padding-top: 100px;
    background-color: #FFF;
    overflow-x: hidden;
    transition: all 0.5s ease; }
    #wrapper nav#menu.active {
      width: 250px;
      border-right: 1px solid #757479; }
    #wrapper nav#menu .logo {
      position: relative; }
      #wrapper nav#menu .logo .hexagon {
        position: relative;
        width: 64px;
        height: 36.952px;
        margin: auto;
        background-color: #008ed3; }
        #wrapper nav#menu .logo .hexagon:before, #wrapper nav#menu .logo .hexagon:after {
          content: "";
          position: absolute;
          width: 0;
          border-left: 32px solid transparent;
          border-right: 32px solid transparent; }
        #wrapper nav#menu .logo .hexagon:before {
          bottom: 100%;
          border-bottom: 18.472px solid #008ed3; }
        #wrapper nav#menu .logo .hexagon:after {
          top: 100%;
          width: 0;
          border-top: 18.472px solid #008ed3; }
        #wrapper nav#menu .logo .hexagon .circle {
          position: absolute;
          bottom: -9.6px;
          right: -9.6px;
          margin: auto;
          width: 19.2px;
          height: 19.2px;
          background-color: #404040;
          border-radius: 100%;
          z-index: 3;
          box-shadow: #FFF 0 0 0 4px; }
      #wrapper nav#menu .logo h1 {
        color: #404040;
        font-family: "Fredoka One", sans-serif;
        font-size: 28.8px;
        text-align: center;
        margin: 30px 0 60px; }
        #wrapper nav#menu .logo h1 span {
          color: #008ed3; }
    #wrapper nav#menu ul {
      width: 250px; }
      #wrapper nav#menu ul li a {
        display: block;
        color: #404040;
        font-weight: 500;
        transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        line-height: 48px;
        font-size: 16px;
        padding: 7px 0 7px 35px; }
        #wrapper nav#menu ul li a:hover {
          color: #008ed3; }
        #wrapper nav#menu ul li a i {
          width: 30px;
          text-align: center;
          vertical-align: middle; }
  #wrapper #container {
    padding-top: 48px; }
    #wrapper #container header.top_bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 48px;
      z-index: 1; }
      #wrapper #container header.top_bar .actions {
        position: absolute;
        display: flex;
        top: 0;
        height: 48px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        z-index: 99;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff; }
        #wrapper #container header.top_bar .actions .absolute {
          position: absolute; }
        #wrapper #container header.top_bar .actions ul.main_feeds {
          display: flex;
          width: 100%;
          margin-left: 48px;
          justify-content: center;
          overflow: hidden;
          transition: all .4s ease-in-out; }
          #wrapper #container header.top_bar .actions ul.main_feeds.hide {
            width: 0; }
          #wrapper #container header.top_bar .actions ul.main_feeds li.active a {
            color: #008ed3; }
          #wrapper #container header.top_bar .actions ul.main_feeds li a {
            display: block;
            color: #404040;
            font-weight: 500;
            transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            padding-left: 16px;
            padding-right: 16px;
            color: #404040;
            line-height: 48px;
            font-size: 16px; }
            #wrapper #container header.top_bar .actions ul.main_feeds li a:hover {
              color: #008ed3; }
        #wrapper #container header.top_bar .actions .searcher {
          position: relative;
          display: flex;
          width: 48px;
          transition: width .4s ease-in-out; }
          #wrapper #container header.top_bar .actions .searcher.active {
            width: 100%; }
            #wrapper #container header.top_bar .actions .searcher.active #cancel_search {
              right: 4px;
              opacity: 1; }
          #wrapper #container header.top_bar .actions .searcher #do_search {
            position: absolute;
            left: 4px; }
          #wrapper #container header.top_bar .actions .searcher #cancel_search {
            transition: all .4s ease-in-out;
            position: absolute;
            opacity: 0;
            right: -35px; }
          #wrapper #container header.top_bar .actions .searcher #search {
            flex-grow: 1;
            padding-left: 48px;
            padding-right: 48px;
            border-width: 0;
            background-color: #fff;
            font-size: 18px;
            height: 44px; }
        #wrapper #container header.top_bar .actions button {
          display: block;
          color: #404040;
          font-weight: 500;
          transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          width: 48px;
          height: 48px;
          border: none;
          font-size: 24px;
          background-color: transparent;
          cursor: pointer; }
          #wrapper #container header.top_bar .actions button:hover {
            color: #008ed3; }
    #wrapper #container .main-wrapper {
      position: absolute;
      left: 0;
      right: 0; }
      #wrapper #container .main-wrapper main {
        justify-content: center;
        display: flex; }
        #wrapper #container .main-wrapper main section.content .container, #wrapper #container .main-wrapper main section.content.container {
          width: 90%;
          max-width: 1100px;
          margin: 25px auto; }
        #wrapper #container .main-wrapper main section.content.item-container {
          column-width: 300px; }
          #wrapper #container .main-wrapper main section.content.item-container .article {
            position: relative;
            width: 100%;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            margin: 0 2px 15px;
            transition: opacity .4s ease-in-out;
            display: inline-block; }
            #wrapper #container .main-wrapper main section.content.item-container .article:hover > header {
              opacity: 1; }
            #wrapper #container .main-wrapper main section.content.item-container .article header {
              opacity: 0;
              display: flex;
              justify-content: space-around;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              transition: opacity 0.15s ease-out;
              background-color: rgba(0, 0, 0, 0.35);
              border-bottom: 1px solid rgba(255, 255, 255, 0.35);
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              padding: 10px; }
              #wrapper #container .main-wrapper main section.content.item-container .article header a {
                border-radius: 5px;
                padding: 0 15px;
                background-color: #fff;
                color: #555;
                text-align: center;
                line-height: 44px;
                transition: all 0.25s ease-out;
                font-weight: bold;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
                #wrapper #container .main-wrapper main section.content.item-container .article header a svg {
                  stroke: #555;
                  width: 22px;
                  height: 22px;
                  vertical-align: middle;
                  margin-right: 2px; }
            #wrapper #container .main-wrapper main section.content.item-container .article figure img {
              box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
              width: 100%;
              height: auto;
              border-radius: 3px; }
            #wrapper #container .main-wrapper main section.content.item-container .article figure .related {
              display: flex;
              justify-content: space-between;
              width: 100%; }
              #wrapper #container .main-wrapper main section.content.item-container .article figure .related li {
                height: 100%;
                margin: 0 2px; }
                #wrapper #container .main-wrapper main section.content.item-container .article figure .related li:last-child, #wrapper #container .main-wrapper main section.content.item-container .article figure .related li:first-child {
                  margin: 0; }
            #wrapper #container .main-wrapper main section.content.item-container .article figure footer {
              padding: 15px;
              border-radius: 3px;
              background: #fefefe; }
              #wrapper #container .main-wrapper main section.content.item-container .article figure footer figcaption {
                font-size: .9rem;
                color: #444;
                line-height: 1.5;
                padding-bottom: 5px; }
              #wrapper #container .main-wrapper main section.content.item-container .article figure footer small {
                display: block;
                text-align: right;
                font-size: 0.8rem;
                color: #aaa; }
                #wrapper #container .main-wrapper main section.content.item-container .article figure footer small a {
                  color: #666;
                  text-decoration: none;
                  transition: .4s color; }
          #wrapper #container .main-wrapper main section.content.item-container .loading {
            display: block;
            width: 100%; }
        #wrapper #container .main-wrapper main section.content.profile {
          width: 100%;
          min-height: 25rem; }
          #wrapper #container .main-wrapper main section.content.profile .upper {
            position: relative;
            display: flex;
            height: 200px;
            justify-content: center;
            margin-bottom: 1.5rem; }
            #wrapper #container .main-wrapper main section.content.profile .upper .background-container {
              position: relative;
              overflow-y: hidden;
              width: 100%; }
              #wrapper #container .main-wrapper main section.content.profile .upper .background-container img.background {
                width: 100%; }
            #wrapper #container .main-wrapper main section.content.profile .upper .avatar-container {
              position: absolute;
              display: flex;
              justify-content: center;
              bottom: -2.80rem;
              left: 0;
              right: 0; }
              #wrapper #container .main-wrapper main section.content.profile .upper .avatar-container img.avatar {
                width: 6.25rem;
                height: 6.25rem;
                border-radius: 6.25rem;
                border: 0.3125rem solid #FFF;
                background-color: rgba(64, 64, 64, 0.95);
                box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.36); }
              #wrapper #container .main-wrapper main section.content.profile .upper .avatar-container .edit {
                position: absolute;
                bottom: 0;
                padding: 1px;
                margin-left: 50px;
                background-color: #FFF;
                color: #404040;
                border: 2px solid #404040;
                border-radius: 50%;
                transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1); }
                #wrapper #container .main-wrapper main section.content.profile .upper .avatar-container .edit:hover {
                  color: #f4f4f4;
                  background-color: #008ed3; }
          #wrapper #container .main-wrapper main section.content.profile .lower .information {
            margin-top: 1rem;
            padding: 2rem; }
            #wrapper #container .main-wrapper main section.content.profile .lower .information span.nickname {
              display: block;
              text-align: center;
              font-size: 1.8rem;
              font-weight: 700;
              padding-bottom: 0.5rem; }
            #wrapper #container .main-wrapper main section.content.profile .lower .information span.career {
              font-size: 1.1rem; }
            #wrapper #container .main-wrapper main section.content.profile .lower .information span.date {
              font-size: 0.8rem; }
            #wrapper #container .main-wrapper main section.content.profile .lower .information span.career, #wrapper #container .main-wrapper main section.content.profile .lower .information span.date {
              color: #545454;
              padding-bottom: 0.3rem;
              display: block;
              text-align: center; }
            #wrapper #container .main-wrapper main section.content.profile .lower .information .social-links {
              margin-top: 20px;
              font-size: 21px;
              text-align: center; }
              #wrapper #container .main-wrapper main section.content.profile .lower .information .social-links a {
                width: 37.5px;
                height: 37.5px;
                line-height: 37.5px !important;
                position: relative;
                margin: 0 5.7px;
                text-align: center;
                display: inline-block;
                color: #404040;
                transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1); }
                #wrapper #container .main-wrapper main section.content.profile .lower .information .social-links a:before {
                  content: "";
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  border: 1px solid #404040;
                  border-radius: 2px;
                  transform: rotate(45deg);
                  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1); }
                #wrapper #container .main-wrapper main section.content.profile .lower .information .social-links a:hover {
                  color: #f4f4f4; }
                #wrapper #container .main-wrapper main section.content.profile .lower .information .social-links a:hover:before {
                  background: #008ed3; }
                #wrapper #container .main-wrapper main section.content.profile .lower .information .social-links a i, #wrapper #container .main-wrapper main section.content.profile .lower .information .social-links a span {
                  position: relative;
                  top: 2px;
                  left: 1px; }
        #wrapper #container .main-wrapper main section.content.login .form-block h2, #wrapper #container .main-wrapper main section.content.signup .form-block h2, #wrapper #container .main-wrapper main section.content.upload .form-block h2, #wrapper #container .main-wrapper main section.content.general-form .form-block h2 {
          font-size: 14px;
          text-align: center;
          padding: 15px 0 15px 0; }
        #wrapper #container .main-wrapper main section.content.login .error, #wrapper #container .main-wrapper main section.content.signup .error, #wrapper #container .main-wrapper main section.content.upload .error, #wrapper #container .main-wrapper main section.content.general-form .error {
          background-color: #d33200;
          border-radius: 5px;
          line-height: 18px;
          color: #ffffff;
          text-align: center;
          margin: 0 0 15px 0;
          padding: 9px 10px 10px 10px; }
        #wrapper #container .main-wrapper main section.content.login header, #wrapper #container .main-wrapper main section.content.signup header, #wrapper #container .main-wrapper main section.content.upload header, #wrapper #container .main-wrapper main section.content.general-form header {
          padding-top: 20px;
          margin-bottom: -40px; }
        #wrapper #container .main-wrapper main section.content.login form, #wrapper #container .main-wrapper main section.content.signup form, #wrapper #container .main-wrapper main section.content.upload form, #wrapper #container .main-wrapper main section.content.general-form form {
          width: 100%;
          padding: 0 0 25px 0;
          border-bottom: 1px solid #ccc; }
          #wrapper #container .main-wrapper main section.content.login form .multi-field, #wrapper #container .main-wrapper main section.content.signup form .multi-field, #wrapper #container .main-wrapper main section.content.upload form .multi-field, #wrapper #container .main-wrapper main section.content.general-form form .multi-field {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: white;
            border: 1px solid #ccc;
            padding: 0 0 0 0;
            margin: 0; }
        #wrapper #container .main-wrapper main section.content.login .social, #wrapper #container .main-wrapper main section.content.signup .social, #wrapper #container .main-wrapper main section.content.upload .social, #wrapper #container .main-wrapper main section.content.general-form .social {
          padding-bottom: 10px;
          border-bottom: 1px solid #ccc; }
          #wrapper #container .main-wrapper main section.content.login .social h2, #wrapper #container .main-wrapper main section.content.signup .social h2, #wrapper #container .main-wrapper main section.content.upload .social h2, #wrapper #container .main-wrapper main section.content.general-form .social h2 {
            font-size: 14px;
            text-align: center;
            padding: 15px 0 15px 0;
            border-top: 1px solid white; }
          #wrapper #container .main-wrapper main section.content.login .social a, #wrapper #container .main-wrapper main section.content.signup .social a, #wrapper #container .main-wrapper main section.content.upload .social a, #wrapper #container .main-wrapper main section.content.general-form .social a {
            text-align: center;
            margin: 0 25px 10px 25px;
            font-size: 18px;
            line-height: 24px;
            font-weight: bold;
            display: block; }
            #wrapper #container .main-wrapper main section.content.login .social a img, #wrapper #container .main-wrapper main section.content.signup .social a img, #wrapper #container .main-wrapper main section.content.upload .social a img, #wrapper #container .main-wrapper main section.content.general-form .social a img {
              vertical-align: middle;
              margin-right: 8px; }
        #wrapper #container .main-wrapper main section.content.login .signup, #wrapper #container .main-wrapper main section.content.signup .signup, #wrapper #container .main-wrapper main section.content.upload .signup, #wrapper #container .main-wrapper main section.content.general-form .signup {
          padding: 15px 0 0 0;
          border-top: 1px solid white;
          text-align: center; }
          #wrapper #container .main-wrapper main section.content.login .signup a, #wrapper #container .main-wrapper main section.content.signup .signup a, #wrapper #container .main-wrapper main section.content.upload .signup a, #wrapper #container .main-wrapper main section.content.general-form .signup a {
            color: #313131;
            text-align: center;
            margin: 15px 25px 10px 25px;
            font-siz: 18px;
            line-height: 24px;
            font-weight: bold;
            display: block; }
        #wrapper #container .main-wrapper main section.content.login footer p, #wrapper #container .main-wrapper main section.content.signup footer p, #wrapper #container .main-wrapper main section.content.upload footer p, #wrapper #container .main-wrapper main section.content.general-form footer p {
          padding: 9px 10px 10px 10px; }
        #wrapper #container .main-wrapper main section.content.upload header {
          position: relative;
          display: flex;
          justify-content: center;
          height: 200px; }
          #wrapper #container .main-wrapper main section.content.upload header .download-logo {
            transform: scale(0.5);
            width: 300px;
            height: 300px;
            text-align: center;
            overflow: hidden;
            background-color: #008ed3;
            border-radius: 100%;
            box-shadow: 0 5px 10px #bbb;
            display: inline-block;
            position: absolute;
            top: -90px; }
            #wrapper #container .main-wrapper main section.content.upload header .download-logo .cloud {
              width: 200px;
              height: 80px;
              position: relative;
              background: #fff;
              display: inline-block;
              border-radius: 50px;
              margin: 120px auto 0;
              box-shadow: 0 0 #008ed3; }
              #wrapper #container .main-wrapper main section.content.upload header .download-logo .cloud:before {
                content: '';
                position: absolute;
                background: #636262;
                border-radius: 10px;
                width: 90px;
                height: 6px;
                z-index: 2;
                left: 0;
                right: 0;
                bottom: 25px;
                margin: auto; }
              #wrapper #container .main-wrapper main section.content.upload header .download-logo .cloud:after {
                content: '';
                position: absolute;
                width: 120px;
                height: 80px;
                border-radius: 80px 80px 0 0;
                top: -40px;
                background: #fff;
                left: 40px; }
              #wrapper #container .main-wrapper main section.content.upload header .download-logo .cloud .file {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 5;
                top: 50px;
                width: 80px;
                height: 100px;
                display: inline-block;
                overflow: hidden; }
                #wrapper #container .main-wrapper main section.content.upload header .download-logo .cloud .file:before {
                  content: '';
                  background: #E2E3E3;
                  color: #E2E3E3;
                  width: 60px;
                  height: 5px;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 20px;
                  z-index: 3;
                  margin: auto;
                  animation: uplaod 3s linear infinite;
                  box-shadow: 0 15px, 0 30px; }
                #wrapper #container .main-wrapper main section.content.upload header .download-logo .cloud .file:after {
                  content: '';
                  position: absolute;
                  background: #577FC0;
                  width: 80px;
                  height: 80px;
                  left: 0;
                  top: 0;
                  border-radius: 0 0 10px 10px;
                  animation: uplaod 3s linear infinite; }
@keyframes uplaod {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-100px); } }
        #wrapper #container .main-wrapper main section.content.upload label.file-input {
          display: flex;
          flex-direction: column;
          position: relative;
          margin: 0 10px 20px 10px;
          padding: 5px 0;
          align-items: center;
          cursor: pointer;
          justify-content: center;
          outline: 3px dashed #ccc;
          outline-offset: 5px;
          background-color: rgba(0, 0, 0, 0.02); }
          #wrapper #container .main-wrapper main section.content.upload label.file-input:focus, #wrapper #container .main-wrapper main section.content.upload label.file-input:hover {
            outline-color: #008ed3;
            background-color: rgba(255, 255, 255, 0.3);
            color: #008ed3; }
            #wrapper #container .main-wrapper main section.content.upload label.file-input:focus i, #wrapper #container .main-wrapper main section.content.upload label.file-input:hover i {
              color: #008ed3; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input.error {
            outline-color: #d33200;
            color: #d33200; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input i, #wrapper #container .main-wrapper main section.content.upload label.file-input span, #wrapper #container .main-wrapper main section.content.upload label.file-input img {
            transition: opacity 0.5s ease; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input.succes i, #wrapper #container .main-wrapper main section.content.upload label.file-input.succes span {
            opacity: 0; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input.succes img {
            opacity: 1; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input input {
            opacity: 0; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input * {
            pointer-events: none; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input i {
            opacity: 1;
            color: rgba(0, 0, 0, 0.2);
            font-size: 4em; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input span {
            opacity: 1; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input.dragging {
            outline-color: limegreen; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input.loaded i {
            color: rgba(255, 255, 255, 0.5); }
          #wrapper #container .main-wrapper main section.content.upload label.file-input.loading i {
            display: none; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input.loading .loader {
            display: block; }
          #wrapper #container .main-wrapper main section.content.upload label.file-input img {
            left: 50%;
            opacity: 0;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 50%;
            transition: all 300ms ease-in;
            transform: translate(-50%, -50%);
            z-index: -1; }
            #wrapper #container .main-wrapper main section.content.upload label.file-input img.loaded {
              opacity: 1; }

footer.section-footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  max-width: 1100px;
  margin: 25px auto; }
  footer.section-footer .uploader {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 50%;
    color: #404040;
    border: 4px solid #404040;
    background: #fff; }
    footer.section-footer .uploader i {
      color: inherit; }
    footer.section-footer .uploader:active, footer.section-footer .uploader:hover {
      color: #008ed3;
      border-color: #008ed3; }

.actionButton {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #CCC;
  padding: 5px 8px 6px 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);
  background-image: linear-gradient(top, #fff, #f4f4f4);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  cursor: pointer;
  color: #313131; }
  .actionButton:hover {
    border: 1px solid #999; }

#mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); }

#busy {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5); }
  #busy .logo-loading {
    position: relative; }
    #busy .logo-loading .hexagon {
      position: relative;
      width: 80px;
      height: 46.19px;
      margin: auto;
      background-color: #008ed3; }
      #busy .logo-loading .hexagon:before, #busy .logo-loading .hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent; }
      #busy .logo-loading .hexagon:before {
        bottom: 100%;
        border-bottom: 23.09px solid #008ed3; }
      #busy .logo-loading .hexagon:after {
        top: 100%;
        width: 0;
        border-top: 23.09px solid #008ed3; }
      #busy .logo-loading .hexagon .circle {
        position: absolute;
        bottom: -12px;
        right: -12px;
        margin: auto;
        width: 24px;
        height: 24px;
        background-color: #404040;
        border-radius: 100%;
        z-index: 3;
        box-shadow: #FFF 0 0 0 4px; }
    #busy .logo-loading h1 {
      color: #404040;
      font-family: "Fredoka One", sans-serif;
      font-size: 36px;
      text-align: center;
      margin: 30px 0 60px; }
      #busy .logo-loading h1 span {
        color: #008ed3; }
    #busy .logo-loading .hexagon {
      opacity: 0.3;
      animation: blinking 1s linear infinite; }
    #busy .logo-loading h1 {
      color: #f4f4f4; }
      #busy .logo-loading h1 span .line {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: #4b9cdb; }
        #busy .logo-loading h1 span .line:nth-last-child(3) {
          animation: jumpping .6s .3s linear infinite; }
        #busy .logo-loading h1 span .line:nth-last-child(2) {
          animation: jumpping .6s .2s linear infinite; }
        #busy .logo-loading h1 span .line:nth-last-child(1) {
          animation: jumpping .6s .1s linear infinite; }
@keyframes blinking {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.3; } }
@keyframes jumpping {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0); } }
.hexagon-logo {
  position: relative; }
  .hexagon-logo .hexagon {
    position: relative;
    width: 80px;
    height: 46.19px;
    margin: auto;
    background-color: #008ed3; }
    .hexagon-logo .hexagon:before, .hexagon-logo .hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent; }
    .hexagon-logo .hexagon:before {
      bottom: 100%;
      border-bottom: 23.09px solid #008ed3; }
    .hexagon-logo .hexagon:after {
      top: 100%;
      width: 0;
      border-top: 23.09px solid #008ed3; }
    .hexagon-logo .hexagon .circle {
      position: absolute;
      bottom: -12px;
      right: -12px;
      margin: auto;
      width: 24px;
      height: 24px;
      background-color: #404040;
      border-radius: 100%;
      z-index: 3;
      box-shadow: #FFF 0 0 0 4px; }
  .hexagon-logo h1 {
    color: #404040;
    font-family: "Fredoka One", sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 30px 0 60px; }
    .hexagon-logo h1 span {
      color: #008ed3; }

form input[type=text], form input[type=password], form input[type=email] {
  border: 0;
  margin: 0 0 0 0;
  font-size: 16px;
  padding: 10px 0 10px 0;
  text-indent: 13px;
  width: 100%;
  color: #4e4e4e;
  display: block;
  border-bottom: 1px solid #dedede;
  border-radius: 2px;
  background-color: transparent; }
  form input[type=text].ng-dirty.ng-invalid, form input[type=text].ng-touched.ng-invalid, form input[type=password].ng-dirty.ng-invalid, form input[type=password].ng-touched.ng-invalid, form input[type=email].ng-dirty.ng-invalid, form input[type=email].ng-touched.ng-invalid {
    border: 1px solid #d33200; }
form input[type=submit] {
  height: 45px;
  padding: 0;
  width: 100%;
  margin-top: 10px;
  font-size: 20px; }

.disable {
  opacity: 0.5 !important;
  pointer-events: none !important; }

/*# sourceMappingURL=master.css.map */
