/**
 Copyright 2017 Jonathan Millan.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 **/
@import 'reset';
@import 'mixins';
@import 'animations';
@import 'fonts';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

@font-face {
  font-family: 'Calluna';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}

body {
  background: url(../images/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: -0.025em;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#wrapper {
  overflow-x: hidden;

  // Menu de navegación
  nav#menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 0;
    height: 100%;
    color: #fff;
    padding-top: 100px;
    // background: linear-gradient(to bottom, #7a8cbf, #cbb4d4);
    background-color: #FFF;
    overflow-x: hidden;
    transition: all 0.5s ease;

    &.active {
      width: 250px;
      border-right: 1px solid #757479;
    }

    .logo {
      @include hexagon-logo(0.8);
    }

    ul {
      width: 250px;

      li a {
        @include link-text;
        line-height: 48px;
        font-size: 16px;
        padding: 7px 0 7px 35px;
        // color: #fff;

        i {
          width: 30px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }

  #container {
    padding-top: 48px;

    // Barra superior
    header.top_bar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 48px;
      z-index: 1;

      // Aciciónes
      .actions {
        position: absolute;
        display: flex;
        top: 0;
        height: 48px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        //background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        //color: #000;
        z-index: 99;
        //box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;

        .absolute {
          position: absolute;
        }

        ul.main_feeds {
          display: flex;
          width: 100%;
          margin-left: 48px;
          justify-content: center;
          overflow: hidden;
          transition: all .4s ease-in-out;

          &.hide {
            width: 0;
          }

          li {

            &.active a {
              color: #008ed3;
            }
            a {
              @include link-text;
              padding-left: 16px;
              padding-right: 16px;
              color: #404040;
              line-height: 48px;
              font-size: 16px;
            }
          }
        }

        // Buscador
        .searcher {
          // TODO: PAsar el width al 100% y ocultar los textos, con una animación css
          position: relative;
          display: flex;
          width: 48px;
          transition: width .4s ease-in-out;

          // Animación
          &.active {
            width: 100%;

            #cancel_search {
              right: 4px;
              opacity: 1;
            }
          }

          #do_search {
            position: absolute;
            left: 4px;
          }

          #cancel_search {
            transition: all .4s ease-in-out;
            position: absolute;
            opacity: 0;
            right: -35px;
          }

          #search {
            flex-grow: 1;
            padding-left: 48px;
            padding-right: 48px;
            border-width: 0;
            background-color: #fff;
            font-size: 18px;
            height: 44px;
          }
        }

        button {
          @include link-text;
          width: 48px;
          height: 48px;
          border: none;
          font-size: 24px;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }

    .main-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      // height: 100%;

      main {
        justify-content: center;
        display: flex;

        // Columnas con el contenido
        section.content {

          .container, &.container {
            width: 90%;
            max-width: 1100px;
            margin: 25px auto;
          }

          // Basado en Items
          &.item-container {
            // TODO: Hay que buscar un sistema para colocar las columnas, de forma adaptable
            column-width: 300px;

            // Articulo
            .article {
              position: relative;
              width: 100%;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              margin: 0 2px 15px;
              transition: opacity .4s ease-in-out;
              display: inline-block;

              &:hover > header {
                opacity: 1;
              }

              header {
                opacity: 0;
                display: flex;
                justify-content: space-around;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transition: opacity 0.15s ease-out;
                background-color: rgba(0, 0, 0, 0.35);
                border-bottom: 1px solid rgba(255, 255, 255, 0.35);
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                padding: 10px;

                a {
                  border-radius: 5px;
                  padding: 0 15px;
                  background-color: #fff;
                  color: #555;
                  text-align: center;
                  line-height: 44px;
                  transition: all 0.25s ease-out;
                  font-weight: bold;
                  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

                  svg {
                    stroke: #555;
                    width: 22px;
                    height: 22px;
                    vertical-align: middle;
                    margin-right: 2px;
                  }
                }
              }

              figure {
                img {
                  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
                  width: 100%;
                  height: auto;
                  border-radius: 3px;
                }
                .related {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                  // height: 130px;

                  li {
                    height: 100%;
                    margin: 0 2px;

                    &:last-child, &:first-child {
                      margin: 0;
                    }

                    img {
                      // width: auto;
                      // height: 100%;
                    }
                  }
                }
                footer {
                  padding: 15px;
                  border-radius: 3px;
                  background: #fefefe;

                  figcaption {
                    font-size: .9rem;
                    color: #444;
                    line-height: 1.5;
                    padding-bottom: 5px;
                  }
                  small {
                    display: block;
                    text-align: right;
                    font-size: 0.8rem;
                    color: #aaa;

                    a {
                      color: #666;
                      text-decoration: none;
                      transition: .4s color;
                    }
                  }
                }
              }
            }

            // Loading...
            .loading {
              display: block;
              width: 100%;
            }
          }

          // Para el Perfil
          &.profile {
            width: 100%;
            min-height: 25rem;
            // background: white;

            .upper {
              position: relative;
              display: flex;
              height: 200px;
              justify-content: center;
              margin-bottom: 1.5rem;

              .background-container {
                position: relative;
                overflow-y: hidden;
                width: 100%;

                img.background {
                  width: 100%;
                }
              }
              .avatar-container {
                position: absolute;
                display: flex;
                justify-content: center;
                bottom: -2.80rem;
                left: 0;
                right: 0;

                img.avatar {
                  width: 6.25rem;
                  height: 6.25rem;
                  border-radius: 6.25rem;
                  border: 0.3125rem solid #FFF;
                  background-color: rgba(64, 64, 64, 0.95);
                  box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.36);
                }

                .edit {
                  position: absolute;
                  bottom: 0;
                  padding: 1px;
                  margin-left: 50px;
                  background-color: #FFF;
                  color: #404040;
                  border: 2px solid #404040;
                  border-radius: 50%;
                  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

                  &:hover {
                    color: #f4f4f4;
                    background-color: #008ed3;
                  }
                }
              }
            }
            .lower {
              .information {
                margin-top: 1rem;
                padding: 2rem;

                span {
                  &.nickname {
                    display: block;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 700;
                    padding-bottom: 0.5rem;
                  }
                  &.career {
                    font-size: 1.1rem;
                  }
                  &.date {
                    font-size: 0.8rem;
                  }
                  &.career,
                  &.date {
                    color: #545454;
                    padding-bottom: 0.3rem;
                    display: block;
                    text-align: center;
                  }
                }
                .social-links {
                  margin-top: 20px;
                  font-size: 21px;
                  text-align: center;

                  a {
                    width: 37.5px;
                    height: 37.5px;
                    line-height: 37.5px !important;
                    position: relative;
                    margin: 0 5.7px;
                    text-align: center;
                    display: inline-block;
                    color: #404040;
                    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

                    &:before {
                      content: "";
                      display: inline-block;
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      border: 1px solid #404040;
                      border-radius: 2px;
                      transform: rotate(45deg);
                      transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
                    }

                    &:hover {
                      color: #f4f4f4;
                    }

                    &:hover:before {
                      background: #008ed3;
                    }

                    i, span {
                      position: relative;
                      top: 2px;
                      left: 1px;
                    }
                  }
                }
              }
            }
          }

          // General Form
          &.login, &.signup, &.upload, &.general-form {

            .form-block {

              h2 {
                font-size: 14px;
                text-align: center;
                padding: 15px 0 15px 0;
              }
            }

            .error {
              background-color: #d33200;
              border-radius: 5px;
              line-height: 18px;
              color: #ffffff;
              text-align: center;
              margin: 0 0 15px 0;
              padding: 9px 10px 10px 10px;
            }

            header {
              padding-top: 20px;
              margin-bottom: -40px;
            }

            form {
              width: 100%;
              padding: 0 0 25px 0;
              border-bottom: 1px solid #ccc;

              .multi-field {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                background: white;
                border: 1px solid #ccc;
                padding: 0 0 0 0;
                margin: 0;
              }
            }

            .social {
              padding-bottom: 10px;
              border-bottom: 1px solid #ccc;

              h2 {
                font-size: 14px;
                text-align: center;
                padding: 15px 0 15px 0;
                border-top: 1px solid white;
              }

              a {
                text-align: center;
                margin: 0 25px 10px 25px;
                font-size: 18px;
                line-height: 24px;
                font-weight: bold;
                display: block;

                img {
                  vertical-align: middle;
                  margin-right: 8px;
                }
              }
            }

            .signup {
              padding: 15px 0 0 0;
              border-top: 1px solid white;
              text-align: center;

              a {
                color: #313131;
                text-align: center;
                margin: 15px 25px 10px 25px;
                font-siz: 18px;
                line-height: 24px;
                font-weight: bold;
                display: block;
              }
            }

            footer {
              p {
                padding: 9px 10px 10px 10px;
              }
            }
          }

          // Upload
          &.upload {

            header {
              position: relative;
              display: flex;
              justify-content: center;
              height: 200px;

              .download-logo {
                @include download-logo(0.5);
                position: absolute;
                top: -90px;
              }
            }

            label.file-input {
              display: flex;
              flex-direction: column;
              position: relative;
              margin: 0 10px 20px 10px;
              padding: 5px 0;
              align-items: center;
              cursor: pointer;
              justify-content: center;
              outline: 3px dashed #ccc;
              outline-offset: 5px;
              background-color: rgba(0, 0, 0, 0.02);

              &:focus, &:hover {
                outline-color: #008ed3;
                background-color: rgba(255, 255, 255, 0.3);
                color: #008ed3;
                i {
                  color: #008ed3;
                }
              }

              &.error {
                outline-color: #d33200;
                color: #d33200;
              }

              // Animaciones
              i, span, img {
                transition: opacity 0.5s ease;

              }

              &.succes {
                i, span {
                  opacity: 0;
                }
                img {
                  opacity: 1;
                }
              }

              input {
                opacity: 0;
              }

              * {
                pointer-events: none;
              }

              i {
                opacity: 1;
                color: rgba(0, 0, 0, 0.2);
                font-size: 4em;
              }

              span {
                opacity: 1;
              }

              &.dragging {
                outline-color: limegreen;
              }

              &.loaded {
                i {
                  color: rgba(white, 0.5);
                }
              }

              &.loading {
                i {
                  display: none;
                }

                .loader {
                  display: block;
                }
              }

              img {
                left: 50%;
                opacity: 0;
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                top: 50%;
                transition: all 300ms ease-in;
                transform: translate(-50%, -50%);
                z-index: -1;

                &.loaded {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Uploader Css
footer.section-footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  max-width: 1100px;
  margin: 25px auto;

  .uploader {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 50%;
    color: #404040;
    border: 4px solid #404040;
    background: #fff;

    i {
      color: inherit;
    }

    &:active, &:hover {
      color: #008ed3;
      border-color: #008ed3;
    }
  }
}

.actionButton {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #CCC;
  padding: 5px 8px 6px 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);
  background-image: linear-gradient(top, #fff, #f4f4f4);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  cursor: pointer;
  color: #313131;

  &:hover {
    border: 1px solid #999;
  }
}

// Mascaras
#mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
}

#busy {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, .5);

  .logo-loading {
    @include hexagon-logo(1);

    .hexagon {
      opacity: 0.3;
      animation: blinking 1s linear infinite;
    }
    h1 {
      color: #f4f4f4;

      span {
        .line {
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 15px;
          background-color: #4b9cdb;

          &:nth-last-child(3) {
            animation: jumpping .6s .3s linear infinite;
          }
          &:nth-last-child(2) {
            animation: jumpping .6s .2s linear infinite;
          }
          &:nth-last-child(1) {
            animation: jumpping .6s .1s linear infinite;
          }
        }
      }
    }
  }

  @keyframes blinking {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }

  @keyframes jumpping {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

.hexagon-logo {
  @include hexagon-logo(1);
}

// Formularios
form {
  input[type=text], input[type=password], input[type=email] {
    border: 0;
    margin: 0 0 0 0;
    font-size: 16px;
    padding: 10px 0 10px 0;
    text-indent: 13px;
    width: 100%;
    color: #4e4e4e;
    display: block;
    border-bottom: 1px solid #dedede;
    border-radius: 2px;
    background-color: transparent;

    &.ng-dirty.ng-invalid, &.ng-touched.ng-invalid {
      border: 1px solid #d33200;
    }
  }

  input[type=submit] {
    height: 45px;
    padding: 0;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
  }
}

.disable {
  opacity: 0.5!important;
  pointer-events: none!important;
}