<!DOCTYPE html>
<html ng-app="MyApp" lang="en">
<head>
    <title>MemeString</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/master.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/png" href="images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/icons/favicon-32x32.png" sizes="32x32">

    <!-- Metas -->
    <meta name="author" content="memestring.com"/>
    <meta name="owner" content="memestring.com"/>
    <meta name="language" content="EN"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="robots" content="index, follow"/>
    <meta name="description"
          content="The best memes of the Internet. Curiosities, humor, laughter, funny. All this and much more."/>
    <meta name="keywords" content="photos,jokes,humor,graphic,laugh,lol,funny,memes"/>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>

    <!-- Custom Modules -->
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<div id="wrapper">
    <nav id="menu">
        <div class="logo">
            <div class="hexagon">
                <div class="circle"></div>
            </div>
            <h1>Meme<span>String</span></h1>
        </div>
        <ul>
            <li><a href="#!/"><i class="material-icons">home</i> Home</a></li>
            <li><a ng-href="#!profile/{{ globals.username }}"><i class="material-icons">person</i> Profile</a></li>
            <li><a href ng-click="logout()"><i class="material-icons">power_settings_new</i> Sing Out</a></li>
        </ul>
    </nav>
    <div id="container" ng-class="animation">
        <header class="top_bar">
            <div class="actions">
                <button ng-show="globals.username" id="toggle_menu" class="absolute no-animate">
                    <i class="material-icons material-spec-icon" title="Show navigation">menu</i>
                </button>
                <a ng-hide="globals.username" href="#!login">
                    <button class="absolute no-animate">
                        <i class="material-icons" title="Enter">person_outline</i>
                    </button>
                </a>
                <ul ng-show="backUrl" class="main_feeds no-animate">
                    <li>
                        <a ng-href="{{ backUrl }}"><i class="material-icons">undo</i> Back</a>
                    </li>
                </ul>
                <ul ng-hide="backUrl" ng-controller="ArticleController as articleCtrl" class="main_feeds no-animate">
                    <li ng-class="{ active: articleCtrl.isSource('popular') }"><a href="#!/"
                                                                                  ng-click="articleCtrl.setSource('popular')">Popular</a>
                    </li>
                    <li ng-class="{ active: articleCtrl.isSource('recent') }"><a href="#!/"
                                                                                 ng-click="articleCtrl.setSource('recent')">Recent</a>
                    </li>
                    <li ng-class="{ active: articleCtrl.isSource('random') }"><a href="#!/"
                                                                                 ng-click="articleCtrl.setSource('random')">Random</a>
                    </li>
                </ul>
                <div class="searcher">
                    <button class="button--search" id="do_search">
                        <i class="material-icons">search</i>
                    </button>
                    <input id="search" type="text" name="search" placeholder="Search anything...">
                    <button id="cancel_search">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
        </header>
        <div class="main-wrapper">
            <main ng-view id="main" class="view">

            </main>
        </div>
    </div>
</div>
<div id="mask"></div>
<div ng-show="busy" id="busy">
    <div class="logo-loading">
        <div class="hexagon">
            <div class="circle"></div>
        </div>
        <h1>Loading
            <span class="dots">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </span>
        </h1>
    </div>
</div>
</body>
</html>