<section class="content login container">
    <header>
        <div class="hexagon-logo">
            <div class="hexagon">
                <div class="circle"></div>
            </div>
            <h1>Meme<span>String</span></h1>
        </div>
    </header>
    <div ng-show="errors.length" class="error"><p ng-repeat="err in errors">{{ err }}</p></div>
    <form name="form" ng-submit="login()" role="form">
        <div class="multi-field">
            <input ng-model="username" required type="text" name="username" id="username" placeholder="Username">
            <input ng-model="password" required type="password" name="password" id="password" placeholder="Password">
        </div>
        <input ng-disabled="busy" class="actionButton" type="submit" value="Log in">
    </form>
    <div class="social">
        <h2>Other log in options</h2>
        <div>
            <a href="#" class="actionButton disable">
                <img src="images/icons/facebook-18.png" width="18" height="18"
                     alt="">Facebook</a>
        </div>
        <div><a href="#" class="actionButton disable">
            <img src="images/icons/twitter-18.png" width="24" height="18" alt="">Twitter</a>
        </div>
    </div>
    <div class="signup">
        <p>Not signed up yet?</p>
        <a href="#!signup" class="actionButton">Create an account</a>
    </div>
</section>