<section class="content profile">

    <div class="upper">
        <div class="background-container">
            <img class="background" src="images/default_background.jpg">
        </div>
        <div class="avatar-container">
            <img class="avatar" ng-src="{{ profileCtrl.user.profile.avatar || 'images/avatar_default.png' }}">
            <a ng-show="profileCtrl.isSameUser" class="edit" href="#!update/profile"><i class="material-icons">mode_edit</i></a>
        </div>
    </div>

    <div class="lower container">

        <div class="information">
            <span class="nickname">{{ profileCtrl.user.username || 'Unknown' }}</span>
            <span class="career">Created posts {{ profileCtrl.user.post_count }}</span>
            <span class="date">Member since {{ profileCtrl.user.date_joined | date }}</span>
            <div class="social-links">
                <a ng-class="{'disable': !profileCtrl.user.profile.facebook }"
                   ng-href="{{ profileCtrl.user.profile.facebook }}" title="Facebook" target="_blank">
                    <i class="icon-facebook"></i>
                </a>
                <a ng-class="{'disable': !profileCtrl.user.profile.twitter }"
                   ng-href="{{ profileCtrl.user.profile.twitter }}" title="Twitter" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
                <a ng-class="{'disable': !profileCtrl.user.profile.pinterest }"
                   ng-href="{{ profileCtrl.user.profile.pinterest }}" title="Pinterest" target="_blank">
                    <i class="icon-pinterest"></i>
                </a>
                <a ng-class="{'disable': !profileCtrl.user.profile.dribbble }"
                   ng-href="{{ profileCtrl.user.profile.dribbble }}" title="Dribbble" target="_blank">
                    <i class="icon-dribbble"></i>
                </a>
            </div>
        </div>
    </div>

</section>