<section class="content signup container">
    <header>
        <div class="hexagon-logo">
            <div class="hexagon">
                <div class="circle"></div>
            </div>
            <h1>Meme<span>String</span></h1>
        </div>
    </header>
    <div ng-show="errors.length" class="error"><p ng-repeat="err in errors">{{ err }}</p></div>
    <form name="form" ng-submit="signup()" role="form">
        <div class="multi-field">
            <input ng-model="username" required type="text" name="username" id="username" placeholder="Username">
            <input ng-model="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,6})$/"
                   required type="email" name="email" id="email" placeholder="Email">
            <input ng-model="password" required type="password" name="password" id="password" placeholder="Password">
            <input ng-model="confirm_password" pw-check="password" required type="password" name="confirm_password"
                   id="confirm_password"
                   placeholder="Confirm Password">
        </div>
        <input ng-disabled="busy" class="actionButton" type="submit" value="Create Account">
    </form>
    <footer>
        <p>Rellena el siguiente formulario y haz clic en el enlace de confirmación que recibirás en tu correo en breves instantes. Haciendo clic en "Crear cuenta" estás aceptando los Términos de Servicio y la Política de Privacidad.</p>
    </footer>
</section>