<section class="content profile general-form upload">

    <div class="upper">
        <div class="background-container">
            <img class="background" src="images/default_background.jpg">
        </div>
        <div class="avatar-container">
            <img class="avatar" ng-src="{{ uProCtrl.user.profile.avatar || 'images/avatar_default.png' }}">
        </div>
    </div>

    <div class="lower container">

        <div class="information">
            <span class="nickname">{{ globals.username }}</span>
            <span class="career">Edit Profile</span>
        </div>

        <div ng-show="errors.length" class="error"><p ng-repeat="err in errors">{{ err }}</p></div>

        <div class="form-block">
            <h2>Change Profile Picture</h2>
            <form name="form" ng-submit="uProCtrl.changeProfilePicture()" role="form">
                <label id="holder" class="file-input" ondragover="return false">
                    <i class="material-icons">file_upload</i>
                    <span>Drop a file or click to select one</span>
                    <img src="" id="file-preview">
                    <input files-input ng-model="fileArray" required id="file" type="file">
                    <span class="loader"></span>
                </label>
                <input ng-disabled="busy" class="actionButton" type="submit" value="Change Picture">
            </form>
        </div>

        <div class="form-block">
            <form name="form" ng-submit="uProCtrl.changeSocia()" role="form">
                <div class="multi-field">
                    <input ng-model="facebook" type="text" name="facebook" placeholder="Facebook URL"
                           ng-value="uProCtrl.user.profile.facebook">
                    <input ng-model="twitter" type="text" name="twitter" placeholder="Twitter URL"
                           ng-value="uProCtrl.user.profile.twitter">
                    <input ng-model="pinterest" type="text" name="pinterest" placeholder="Pinterest URL"
                           ng-value="uProCtrl.user.profile.pinterest">
                    <input ng-model="dribbble" type="text" name="dribbble" placeholder="Dribbble URL"
                           ng-value="uProCtrl.user.profile.dribbble">
                </div>
                <input ng-disabled="busy" class="actionButton" type="submit" value="Update Socials">
            </form>
        </div>

        <div class="form-block">
            <h2>Change Password</h2>
            <form name="form" ng-submit="uProCtrl.changePassword()" role="form">
                <div class="multi-field">
                    <input ng-model="old_password" required type="password" name="old_password" id="old_password"
                           placeholder="Old Password">
                    <input ng-model="new_password" required type="password" name="new_password" id="new_password"
                           placeholder="New Password">
                    <input ng-model="confirm_password" pw-check="new_password" required type="password"
                           name="confirm_password"
                           id="confirm_password"
                           placeholder="Confirm new Password">
                </div>
                <input ng-disabled="busy" class="actionButton" type="submit" value="Change Password">
            </form>
        </div>

    </div>
</section>

<script>
    (function () {
        'use strict';

        var holder = document.getElementById('holder');
        var label = holder.getElementsByTagName('span')[0];
        var input = document.getElementById('file');
        var file_preview = document.getElementById('file-preview');

        /**
         * Al pasar un elemento por encima
         */
        holder.ondragover = function () {
            this.classList.add('hover');
            return false;
        };

        /**
         * Al dejar de pasar un elemento por encima
         */
        holder.ondragend = function () {
            this.classList.remove('hover');
            return false;
        };

        /**
         * Al soltar un elemento encima
         */
        holder.ondrop = function (e) {
            e.preventDefault();
            readfile(e.dataTransfer.files[0]);
        };

        /**
         * Al cambiar el estado del input
         */
        input.onchange = function () {
            readfile(this.files[0]);
        };


        /**
         * Previsualización del fichero
         */
        function readfile(file) {
            // Comprobar que sea el tipo correcto
            if (!file.type.match(/image-*/)) {
                label.innerText = 'Sorry, invalid format.';
                holder.classList.add('error');
                return;
            } else {
                holder.classList.remove('error');
                holder.classList.add('succes');
            }


            if (file) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    file_preview.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }

    })();
</script>